<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
  <title>ночной чатик</title>
</head>

<body>
  {{> groups}}
  {{> chat}}
</body>