<template name="chat_message">
  <div class="message">
      <div class="title">
        {{#with user createdBy }}
          <img src="{{ profile.photo }}">
          <span class="author">{{ profile.name }}</span>
        {{/with}}
        <span class="time">{{ time createdAt }}</span>
      </div> 
      <div class="text">{{ text }}</div>   
  </div>
</template>